<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    {% block content %}
        <h1>Bienvenido a ArriendoApp</h1>
        {% if user.is_authenticated %}
            <p>Hola, {{ user.nombres }}!</p>
            <a href="{% url 'profile' %}">Perfil</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'list_all_propiedades' %}">Propiedades Disponibles</a>
            {% if user.tipo_usuario_id == 1 %}
                <a href="{% url 'create_propiedad' %}">Crear Propiedad</a>
                <a href="{% url 'list_propiedades' %}">Propiedades Creadas</a>
            {% endif %}
        {% else %}
            <a href="{% url 'login_url' %}">Inciar Sesión</a>
            <a href="{% url 'register' %}">Registrarse</a>
        {% endif %}
    {% endblock %}
</body>
</html>
