<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>
    {% block content %}
        <h1>Perfil de {{ user.nombres }}</h1>

        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            <h3>Dirección</h3>
            {{ direccion_form.as_p }}
            <button type="submit">Guardar Cambios</button>
        </form>

        <a href="{% url 'home' %}">Volver al Inicio</a>
    {% endblock %}
</body>
</html>
